
//COLORS

$light-gray: rgb(204, 204, 204);
$color-dark: #161616;

//TYPOGRAPHY

$arial: Arial, Helvetica, sans-serif;
$montserrat: 'Montserrat', sans-serif;

//FONT SIZES

$small: 16px;
$medium: 16px;
$large: 16px;
$huge: 16px;

//BREAK POINTS
$breakpoint-xs: 480px;
$breakpoint-s: 576px;
$breakpoint-m: 768px;
$breakpoint-l: 992px;
$breakpoint-xl: 1200px;


//GRID