// IMPORT FONTS
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//COLORS

$light-gray: rgb(204, 204, 204);
$dark-gray: #4E4C4C;
$color-dark: #161616;

//TYPOGRAPHY

$arial: Arial, Helvetica, sans-serif;
$montserrat: 'Montserrat', sans-serif;

//FONT SIZES

$small: 16px;
$medium: 16px;
$large: 16px;
$huge: 16px;

//BREAK POINTS
$breakpoint-xs: 480px;
$breakpoint-s: 576px;
$breakpoint-m: 768px;
$breakpoint-l: 992px;
$breakpoint-xl: 1200px;


//GRID